
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.8em;
    background-color: #3b3b3b;
}

#favorite-currency-pairs {
    max-height: 300px;
    overflow-y: auto;
}

.favorites {
    margin-left: 10px;
}


.container {
    display: flex;
    justify-content: center;

}

.converter {
    background-color: 	#636363;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;  /* Ensure it doesn't exceed screen width */
}

.converter label, .converter select, .converter input {
    display: block;
    margin-bottom: 10px;
}

.converter button {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: 	#141414;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.converter button:hover {
    background-color: 	#222222;
}

p {
    margin-top: 20px;
}

#historical-rates-container {
    margin-top: 20px;
}

#favorite-currency-pairs {
    margin-top: 20px;
}

@media (width <= 600px) {
    body {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .favorites {
        margin: 0px;
        margin-top: 10px;
    }


}